<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 
        浏览器收到html响应内容之后，就要开始从上到下一次解析,
        当在解析的过程中,如果发现
        link
        script
        img 
        iframe
        video
        audio
    等带有 src或者href(link)
    属性标签(具有外链的资源)的时候,浏览器会自动对这些资源发起新的请求
     -->
     <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
</body>

</html>